<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8">

            <section>

                {{ .Content }}

            </section>

        </div>

        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>

                <h3 class="text-uppercase">Address</h3>

                {{ .Site.Params.address | safeHTML }}

            </section>

            {{ end }}

        </div>

    </div>
    <!-- /.row -->
</div>

{{ if isset .Site.Params "latitude" }}
  {{ if isset .Site.Params "longitude" }}
    <div class="hidden">
      <input id="gmap-lat" value="{{ .Site.Params.latitude }}" />
      <input id="gmap-lng" value="{{ .Site.Params.longitude }}" />
    </div>
    <div id="map" />
  {{ end }}
{{ end }}
